.imprint-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.imprint-navbar {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: 2px;
  padding-left: var(--dl-space-space-tripleunit);
  flex-direction: row;
  justify-content: space-between;
  background-color: #000000;
}
.imprint-image {
  width: 154px;
  object-fit: cover;
}
.imprint-links-container {
  width: 328px;
  height: 36px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.imprint-link {
  color: rgb(64, 182, 194);
  font-size: 22px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.55;
  margin-right: var(--dl-space-space-tripleunit);
  text-transform: capitalize;
  text-decoration: none;
}
.imprint-link1 {
  color: rgb(64, 182, 194);
  font-size: 22px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.55;
  margin-right: var(--dl-space-space-tripleunit);
  text-transform: capitalize;
  text-decoration: none;
}
.imprint-link2 {
  color: rgb(64, 182, 194);
  font-size: 22px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.55;
  text-transform: capitalize;
  text-decoration: none;
}
.imprint-cta-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.imprint-burger-menu {
  display: none;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
}
.imprint-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.imprint-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 2px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.imprint-icon {
  width: 36px;
  height: 36px;
}
.imprint-dropdown-arrow {
  transition: 0.3s;
}
.imprint-thq-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.imprint-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 2px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.imprint-dropdown-arrow1 {
  transition: 0.3s;
}
.imprint-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: 4px;
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.imprint-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.imprint-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 4px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.imprint-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.imprint-text02 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.imprint-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.imprint-dropdown-toggle3 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 4px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.imprint-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.imprint-text03 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.imprint-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.imprint-dropdown-toggle4 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 4px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.imprint-dropdown-toggle4:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.imprint-text04 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.imprint-dropdown-list1 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: 4px;
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.imprint-dropdown3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.imprint-dropdown-toggle5 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 4px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.imprint-dropdown-toggle5:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.imprint-text05 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.imprint-dropdown4 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.imprint-dropdown-toggle6 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 4px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.imprint-dropdown-toggle6:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.imprint-text06 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.imprint-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.imprint-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.imprint-image1 {
  width: 50px;
  object-fit: cover;
}
.imprint-container1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.imprint-icon02 {
  width: 24px;
  height: 24px;
}
.imprint-mid {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.imprint-links-container1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.imprint-link3 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.imprint-link4 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.imprint-link5 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.imprint-link6 {
  text-decoration: none;
}
.imprint-cta-btn {
  color: var(--dl-color-gray-white);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fiveunits);
  border-radius: 34px;
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-primary-100);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.imprint-bot {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  margin-top: auto;
  align-items: flex-start;
  flex-direction: column;
}
.imprint-social-links-container {
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
.imprint-icon04 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.imprint-icon06 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.imprint-icon08 {
  width: 24px;
  height: 24px;
}
.imprint-text07 {
  font-size: 64px;
  padding-top: 64px;
  padding-bottom: var(--dl-space-space-fourunits);
}
.imprint-text08 {
  font-size: 32px;
  align-self: flex-start;
}
.imprint-text09 {
  font-size: 42px;
}
.imprint-text10 {
  font-size: 42px;
}
.imprint-text11 {
  color: #5c5a5a;
  font-size: 42px;
}
.imprint-text12 {
  font-size: 42px;
}
.imprint-text13 {
  font-size: 42px;
}
.imprint-text14 {
  font-size: 42px;
}
.imprint-text15 {
  color: #5c5a5a;
  font-size: 42px;
}
.imprint-text16 {
  color: #5c5a5a;
  font-size: 42px;
}
.imprint-text17 {
  color: #5c5a5a;
  font-size: 42px;
}
.imprint-text18 {
  color: #5c5a5a;
  font-size: 42px;
}
.imprint-text19 {
  color: #5c5a5a;
  font-size: 42px;
}
.imprint-text20 {
  font-size: 42px;
}
.imprint-text21 {
  font-size: 42px;
}
.imprint-text22 {
  font-size: 42px;
}
.imprint-text23 {
  color: var(--dl-color-gray-black);
  font-size: 42px;
}
.imprint-text24 {
  color: #3b3b3b;
  font-size: 42px;
}
.imprint-text25 {
  color: #5c5a5a;
  font-size: 42px;
}
.imprint-text26 {
  color: #3b3b3b;
}
@media(max-width: 991px) {
  .imprint-link2 {
    color: rgb(64, 182, 194);
    font-size: 22px;
    font-style: normal;
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.55;
    text-transform: capitalize;
    text-decoration: none;
  }
}
@media(max-width: 767px) {
  .imprint-links-container {
    display: none;
  }
  .imprint-burger-menu {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-tripleunit);
    background-color: var(--dl-color-gray-black);
  }
  .imprint-dropdown-toggle {
    width: 262px;
    padding-left: 197px;
  }
  .imprint-icon {
    fill: var(--dl-color-gray-white);
    width: 56px;
    padding-left: 0px;
  }
  .imprint-dropdown-list {
    top: 0;
    right: 100%;
    display: none;
  }
  .imprint-dropdown-list1 {
    top: 0;
    right: 100%;
    display: none;
  }
  .imprint-text05 {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
  }
  .imprint-text06 {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
  }
}
@media(max-width: 479px) {
  .imprint-image {
    width: 106px;
  }
  .imprint-burger-menu {
    margin-left: var(--dl-space-space-doubleunit);
  }
  .imprint-dropdown-list {
    top: 0;
    right: 100%;
    display: none;
  }
  .imprint-dropdown-list1 {
    display: none;
  }
  .imprint-cta-btn {
    font-size: 16px;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
}
