.privacy-policy-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.privacy-policy-navbar {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: 2px;
  padding-left: var(--dl-space-space-tripleunit);
  flex-direction: row;
  justify-content: space-between;
  background-color: #000000;
}
.privacy-policy-image {
  width: 154px;
  object-fit: cover;
}
.privacy-policy-links-container {
  width: 328px;
  height: 36px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.privacy-policy-link {
  color: rgb(64, 182, 194);
  font-size: 22px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.55;
  margin-right: var(--dl-space-space-tripleunit);
  text-transform: capitalize;
  text-decoration: none;
}
.privacy-policy-link1 {
  color: rgb(64, 182, 194);
  font-size: 22px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.55;
  margin-right: var(--dl-space-space-tripleunit);
  text-transform: capitalize;
}
.privacy-policy-link2 {
  color: rgb(64, 182, 194);
  font-size: 22px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.55;
  text-transform: capitalize;
}
.privacy-policy-cta-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.privacy-policy-burger-menu {
  display: none;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
}
.privacy-policy-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.privacy-policy-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 2px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.privacy-policy-icon {
  width: 36px;
  height: 36px;
}
.privacy-policy-dropdown-arrow {
  transition: 0.3s;
}
.privacy-policy-thq-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.privacy-policy-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 2px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.privacy-policy-dropdown-arrow1 {
  transition: 0.3s;
}
.privacy-policy-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: 4px;
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.privacy-policy-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.privacy-policy-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 4px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.privacy-policy-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.privacy-policy-text {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.privacy-policy-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.privacy-policy-dropdown-toggle3 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 4px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.privacy-policy-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.privacy-policy-text001 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.privacy-policy-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.privacy-policy-dropdown-toggle4 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 4px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.privacy-policy-dropdown-toggle4:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.privacy-policy-text002 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.privacy-policy-dropdown-list1 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: 4px;
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.privacy-policy-dropdown3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.privacy-policy-dropdown-toggle5 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 4px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.privacy-policy-dropdown-toggle5:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.privacy-policy-text003 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.privacy-policy-dropdown4 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.privacy-policy-dropdown-toggle6 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 4px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.privacy-policy-dropdown-toggle6:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.privacy-policy-text004 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.privacy-policy-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.privacy-policy-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.privacy-policy-image1 {
  width: 50px;
  object-fit: cover;
}
.privacy-policy-container1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.privacy-policy-icon02 {
  width: 24px;
  height: 24px;
}
.privacy-policy-mid {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.privacy-policy-links-container1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.privacy-policy-link3 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.privacy-policy-link4 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.privacy-policy-link5 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.privacy-policy-link6 {
  text-decoration: none;
}
.privacy-policy-cta-btn {
  color: var(--dl-color-gray-white);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fiveunits);
  border-radius: 34px;
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-primary-100);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.privacy-policy-bot {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  margin-top: auto;
  align-items: flex-start;
  flex-direction: column;
}
.privacy-policy-social-links-container {
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
.privacy-policy-icon04 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.privacy-policy-icon06 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.privacy-policy-icon08 {
  width: 24px;
  height: 24px;
}
.privacy-policy-text005 {
  font-size: 64px;
  padding-top: 64px;
  padding-bottom: var(--dl-space-space-fourunits);
}
.privacy-policy-text006 {
  font-size: 32px;
  align-self: flex-start;
}
.privacy-policy-text008 {
  font-size: 32px;
}
.privacy-policy-text011 {
  font-size: 32px;
}
.privacy-policy-text014 {
  font-size: 32px;
}
.privacy-policy-text017 {
  font-size: 32px;
}
.privacy-policy-text018 {
  font-size: 32px;
}
.privacy-policy-text021 {
  font-size: 32px;
}
.privacy-policy-text024 {
  font-size: 32px;
}
.privacy-policy-text028 {
  font-size: 32px;
}
.privacy-policy-text033 {
  font-size: 32px;
}
.privacy-policy-text036 {
  font-size: 32px;
}
.privacy-policy-text039 {
  font-size: 32px;
}
.privacy-policy-text042 {
  font-size: 32px;
}
.privacy-policy-text045 {
  font-size: 32px;
}
.privacy-policy-text049 {
  font-size: 32px;
}
.privacy-policy-text053 {
  font-size: 32px;
}
.privacy-policy-text058 {
  font-size: 32px;
}
.privacy-policy-text060 {
  font-size: 32px;
}
.privacy-policy-text063 {
  font-size: 32px;
}
.privacy-policy-text066 {
  font-size: 32px;
}
.privacy-policy-navlink {
  text-decoration: underline;
}
.privacy-policy-text078 {
  font-size: 32px;
}
.privacy-policy-text082 {
  font-size: 32px;
}
.privacy-policy-text085 {
  font-size: 32px;
}
.privacy-policy-text089 {
  font-size: 32px;
}
.privacy-policy-text092 {
  font-size: 32px;
}
.privacy-policy-text094 {
  font-size: 32px;
}
.privacy-policy-text097 {
  font-size: 32px;
}
.privacy-policy-text101 {
  font-size: 32px;
}
.privacy-policy-text104 {
  font-size: 32px;
}
.privacy-policy-text107 {
  font-size: 32px;
}
.privacy-policy-text110 {
  font-size: 32px;
}
.privacy-policy-text113 {
  font-size: 32px;
}
.privacy-policy-text116 {
  font-size: 32px;
}
.privacy-policy-text119 {
  font-size: 32px;
}
.privacy-policy-text122 {
  font-size: 32px;
}
.privacy-policy-text125 {
  font-size: 32px;
}
.privacy-policy-text128 {
  font-size: 32px;
}
.privacy-policy-text131 {
  font-size: 32px;
}
.privacy-policy-text134 {
  font-size: 32px;
}
.privacy-policy-text137 {
  font-size: 32px;
}
.privacy-policy-text140 {
  font-size: 32px;
}
.privacy-policy-text143 {
  font-size: 32px;
}
.privacy-policy-text146 {
  font-size: 32px;
}
.privacy-policy-text149 {
  font-size: 32px;
}
.privacy-policy-text152 {
  font-size: 32px;
}
.privacy-policy-text155 {
  font-size: 32px;
}
.privacy-policy-text158 {
  font-size: 32px;
}
.privacy-policy-text161 {
  font-size: 32px;
}
.privacy-policy-text166 {
  font-size: 32px;
}
.privacy-policy-text167 {
  font-size: 42px;
}
.privacy-policy-text169 {
  font-size: 42px;
}
.privacy-policy-text171 {
  font-size: 42px;
}
.privacy-policy-text173 {
  font-size: 42px;
}
.privacy-policy-text175 {
  font-size: 42px;
}
.privacy-policy-text177 {
  font-size: 42px;
}
.privacy-policy-link7 {
  text-decoration: underline;
}
.privacy-policy-navlink1 {
  font-size: 22px;
  text-decoration: underline;
}
@media(max-width: 991px) {
  .privacy-policy-link2 {
    color: rgb(64, 182, 194);
    font-size: 22px;
    font-style: normal;
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.55;
    text-transform: capitalize;
    text-decoration: none;
  }
}
@media(max-width: 767px) {
  .privacy-policy-links-container {
    display: none;
  }
  .privacy-policy-burger-menu {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-tripleunit);
    background-color: var(--dl-color-gray-black);
  }
  .privacy-policy-dropdown-toggle {
    width: 262px;
    padding-left: 197px;
  }
  .privacy-policy-icon {
    fill: var(--dl-color-gray-white);
    width: 56px;
    padding-left: 0px;
  }
  .privacy-policy-dropdown-list {
    top: 0;
    right: 100%;
    display: none;
  }
  .privacy-policy-dropdown-list1 {
    top: 0;
    right: 100%;
    display: none;
  }
  .privacy-policy-text003 {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
  }
  .privacy-policy-text004 {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
  }
}
@media(max-width: 479px) {
  .privacy-policy-image {
    width: 106px;
  }
  .privacy-policy-burger-menu {
    margin-left: var(--dl-space-space-doubleunit);
  }
  .privacy-policy-dropdown-list {
    top: 0;
    right: 100%;
    display: none;
  }
  .privacy-policy-dropdown-list1 {
    display: none;
  }
  .privacy-policy-cta-btn {
    font-size: 16px;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
}
